@charset "UTF-8";
.header {
  width: 100%;
}

.header__nav {
  height: inherit;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

.header__contents {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 11.2941176471vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
@media screen and (max-width: 1024px) {
  .header__contents {
    height: 9.5952023988vh;
  }
}

.header__logo {
  width: 14.7786458333%;
  height: inherit;
  margin-left: 1.3020833333%;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    width: 139px;
    height: 32px;
    padding-left: 16px;
  }
}
.header__logo a {
  transition: 0.3s;
}
.header__logo a:hover {
  opacity: 0.7;
}
.header__logo img {
  width: 100%;
  height: 100%;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  height: inherit;
}

.header__nav-item {
  height: inherit;
}

.header__nav-item a {
  display: block;
  color: rgb(0, 127, 198);
  font-weight: bold;
  transition: 0.3s;
  height: inherit;
  display: flex;
  align-items: center;
}
.header__nav-item a:hover {
  opacity: 0.7;
}

.header__nav-item {
  margin-right: 28px;
}

.header__contents-list {
  display: flex;
  flex-direction: row;
  height: inherit;
  width: 12.3046875%;
}
@media screen and (max-width: 1024px) {
  .header__contents-list {
    width: auto;
  }
}

.doc-request-item {
  background: rgb(0, 127, 198);
  height: inherit;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .doc-request-item {
    width: 9.5952023988vh;
    height: 9.5952023988vh;
  }
}
.doc-request-item img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 7px;
  vertical-align: middle;
}
@media screen and (max-width: 1024px) {
  .doc-request-item img {
    width: 24px;
    height: 24px;
    margin-right: 0;
    margin-bottom: 4px;
    display: block;
  }
}
.doc-request-item a {
  height: inherit;
  width: inherit;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: relative;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doc-request-item a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1024px) {
  .doc-request-item a {
    font-size: 10px;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    flex-direction: column;
  }
}

/*ボタン外側*/
.header__menu-item {
  display: none;
  position: relative;
  background: rgb(51, 51, 51);
  cursor: pointer;
  width: 9.5952023988vh;
  height: 9.5952023988vh;
  z-index: 20;
}
@media screen and (max-width: 1024px) {
  .header__menu-item {
    display: block;
    flex-shrink: 0;
  }
}
.header__menu-item .menu {
  height: inherit;
}

/*ボタン内側*/
.header__menu-item span:not(:last-child) {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  border-radius: 5px;
  background: #fff;
  width: 32px;
}

.header__menu-item span:nth-of-type(1) {
  top: 14px;
}

.header__menu-item span:nth-of-type(2) {
  top: 24px;
}

.header__menu-item span:nth-of-type(3) {
  top: 34px;
}

.header__menu-item span:nth-of-type(4)::after {
  content: "メニュー";
  position: absolute;
  width: 40px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
.header__menu-item.active span:nth-of-type(1) {
  top: 18px;
  left: 16px;
  transform: translateY(6px) rotate(-45deg);
  width: 32px;
}

.header__menu-item.active span:nth-of-type(2) {
  opacity: 0;
}

.header__menu-item.active span:nth-of-type(3) {
  top: 30px;
  left: 16px;
  transform: translateY(-6px) rotate(45deg);
  width: 32px;
}

/*========= ナビゲーションのためのCSS ===============*/
.g-nav {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 64px;
  width: 100%;
  height: calc(100vh - 64px);
  background: rgb(0, 127, 198);
  transition: all 0.3s;
  display: none;
  pointer-events: none;
}

.g-nav.panelactive {
  opacity: 1;
  z-index: 10;
  pointer-events: all;
}

.g-nav.panelactive {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

/*ナビゲーション*/
.g-nav ul {
  display: none;
  width: inherit;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.g-nav.panelactive ul {
  display: block;
}

/*リストのレイアウト設定*/
.g-nav li {
  height: 64px;
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.g-nav li a {
  color: rgb(255, 255, 255);
  padding-left: 16px;
  display: block;
  font-weight: bold;
}

.footer {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 145px;
  padding: 26px 0 18px 0;
  text-align: center;
}
@media screen and (max-width: 820px) {
  .footer {
    height: 149px;
    padding: 24px 0;
  }
}

.footer__img-block {
  width: 227px;
  height: 52px;
  margin-inline: auto;
  margin-bottom: 37px;
}
.footer__img-block a {
  transition: 0.3s;
}
.footer__img-block a:hover {
  opacity: 0.7;
}
.footer__img-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__small {
  font-size: 12px;
  font-family: "Goldman", sans-serif;
  line-height: 1;
}

.main-visual {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, rgb(0, 127, 198), rgb(2, 209, 255));
  position: relative;
  padding-top: 11.2941176471vh;
}
@media screen and (max-width: 1200px) {
  .main-visual {
    padding-top: 9.5952023988vh;
    height: auto;
  }
}
.main-visual::after {
  content: "";
  background: url(../img/job-listing.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 23.4375%;
  height: 23.7647058824%;
}
@media screen and (max-width: 1200px) {
  .main-visual::after {
    display: none;
  }
}

.main-visual__wrap {
  height: calc(100vh - 11.2941176471%);
  max-width: 1176px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .main-visual__wrap {
    padding: 40px 16px 26px 16px;
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (max-width: 1200px) {
  .main-visual__wrap .form-box {
    margin-top: 44px;
  }
}

.main-visual__contents-box {
  height: 586px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 1200px) {
  .main-visual__contents-box {
    height: auto;
    padding-bottom: 189px;
    position: relative;
    text-align: center;
  }
  .main-visual__contents-box::after {
    content: "";
    background: url(../img/job-listing.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 16px);
    max-width: 360px;
    height: 201px;
  }
}

.main-visual__text {
  font-size: 20px;
}
@media screen and (max-width: 820px) {
  .main-visual__text {
    font-size: 14px;
  }
}
.main-visual__text:nth-of-type(2) {
  margin-top: 1.9893899204%;
  line-height: 1.8;
}
@media screen and (max-width: 820px) {
  .main-visual__text:nth-of-type(2) {
    margin-top: 24px;
  }
}

.main-visual__title {
  margin-top: 1.4588859416%;
  font-size: 56px;
  font-weight: bold;
  line-height: 1.8;
}
@media screen and (max-width: 820px) {
  .main-visual__title {
    font-size: 24px;
    margin-top: 18px;
  }
}

.main-visual__feature-list {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 4.9071618037%;
}
@media screen and (max-width: 820px) {
  .main-visual__feature-list {
    gap: 4px;
    margin-top: 16px;
  }
}

.main-visual__feature-item {
  width: 164px;
  height: 164px;
  padding: 41px 0;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid rgb(0, 127, 198);
  margin-right: 22px;
  color: rgb(0, 127, 198);
  font-weight: bold;
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 820px) {
  .main-visual__feature-item {
    margin-right: 0;
    width: 112px;
    height: 112px;
    padding: 29px 0 31px 0;
  }
}
.main-visual__feature-item p:nth-child(1) {
  font-size: 24px;
}
@media screen and (max-width: 820px) {
  .main-visual__feature-item p:nth-child(1) {
    font-size: 16px;
  }
}
.main-visual__feature-item p:nth-child(2) {
  font-size: 32px;
  margin-top: 26px;
}
@media screen and (max-width: 820px) {
  .main-visual__feature-item p:nth-child(2) {
    font-size: 18px;
    margin-top: 18px;
  }
}
.main-visual__feature-item sup {
  color: rgb(51, 51, 51);
  font-size: 12px;
  vertical-align: top;
}

.main-visual__notes {
  display: block;
  font-size: 12px;
  line-height: 1;
}
@media screen and (max-width: 820px) {
  .main-visual__notes {
    text-align: left;
  }
}
.main-visual__notes:nth-of-type(1) {
  margin-top: 27px;
}
@media screen and (max-width: 820px) {
  .main-visual__notes:nth-of-type(1) {
    margin-top: 24px;
  }
}
.main-visual__notes:nth-of-type(2) {
  margin-top: 7px;
}
@media screen and (max-width: 820px) {
  .main-visual__notes:nth-of-type(2) {
    margin-top: 6px;
  }
}

.achievements {
  padding: 80px 0 46px 0;
}
@media screen and (max-width: 820px) {
  .achievements {
    padding: 40px 0 22px 0;
  }
}

.achievements__title {
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 820px) {
  .achievements__title {
    font-size: 20px;
  }
}

.achievements__img-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 84px;
  margin-top: 40px;
}
@media screen and (max-width: 1024px) {
  .achievements__img-list {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

.achievements__img-item {
  width: 428px;
  height: 146px;
}
@media screen and (max-width: 820px) {
  .achievements__img-item {
    width: 280px;
    height: 96px;
  }
}
.achievements__img-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
  margin-top: 64px;
}
@media screen and (max-width: 820px) {
  .slider {
    margin-top: 39px;
  }
}

.slider img {
  width: 248px; /*スライダー内の画像を横幅100%に*/
  height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/
.slider .slick-slide {
  margin: 0 10px; /*スライド左右の余白調整*/
}

.about {
  padding: 50px 0 68px 0;
}
@media screen and (max-width: 820px) {
  .about {
    padding: 50px 0 36px 0;
  }
}
.about .section-title {
  line-height: 1.5;
}

.about__text {
  margin-top: 51px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 820px) {
  .about__text {
    font-size: 20px;
    margin-top: 63px;
  }
}
.about__text span {
  font-size: 32px;
  color: rgb(0, 127, 198);
}
@media screen and (max-width: 820px) {
  .about__text span {
    font-size: 24px;
  }
}

.about__img-box {
  margin-top: 45px;
  background: rgb(249, 249, 249);
  max-width: 808px;
  height: 276px;
  margin-inline: auto;
  position: relative;
}
@media screen and (max-width: 820px) {
  .about__img-box {
    margin-top: 54px;
    padding-inline: 1px;
    width: 100%;
    height: 648px;
  }
}
.about__img-box .about__img-pc {
  width: 562px;
  height: 316px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 820px) {
  .about__img-box .about__img-pc {
    display: none;
  }
}
.about__img-box .about__img-sp {
  display: none;
}
@media screen and (max-width: 820px) {
  .about__img-box .about__img-sp {
    display: block;
    padding-inline: 13px;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.feature .inner {
  padding: 48px 20px 31px 20px;
}
@media screen and (max-width: 820px) {
  .feature .inner {
    padding: 36px 17px 31px 17px;
  }
}
.feature .section-title {
  line-height: 1.5;
}

.feature__list {
  margin-top: 51px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
@media screen and (max-width: 820px) {
  .feature__list {
    flex-direction: column;
  }
}

.feature__item {
  width: 480px;
  height: 325px;
  padding: 14px 32px 23px 32px;
  border: 1px solid rgb(0, 127, 198);
  box-sizing: border-box;
}
@media screen and (max-width: 820px) {
  .feature__item {
    width: 100%;
    height: auto;
    padding: 14px 30px 22px 30px;
  }
}

.feature__img-box {
  width: 116px;
  height: 77px;
  margin-inline: auto;
}
.feature__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.feature__title {
  margin-top: 19px;
  color: rgb(244, 117, 0);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.feature__text {
  margin-top: 18px;
}
@media screen and (max-width: 820px) {
  .feature__text {
    margin-top: 19px;
  }
}

.doc-request {
  width: 100%;
  background: url(../img/background-4876988_1280\ 1.jpg) center/cover;
  text-align: center;
  padding: 60px 0 61px 0;
}
@media screen and (max-width: 820px) {
  .doc-request {
    padding: 40px 0 40px 0;
    background: url(../img/background-sp.jpg);
  }
}
.doc-request .doc-request__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
}
.doc-request .doc-request-btn {
  margin-top: 24px;
  background: rgb(255, 255, 255);
  margin-inline: auto;
  line-height: 1;
}
@media screen and (max-width: 820px) {
  .doc-request .doc-request-btn {
    margin-top: 39px;
  }
}
.doc-request .doc-request-btn a {
  color: rgb(0, 127, 198);
}
@media screen and (max-width: 820px) {
  .doc-request .doc-request-btn a {
    font-size: 20px;
  }
}

.case .inner {
  padding: 96px 0 35px 0;
}
@media screen and (max-width: 820px) {
  .case .inner {
    padding: 72px 0 45px 0;
  }
}
.case .section-title {
  line-height: 1.5;
}

.case__item {
  width: 405px;
  height: 488px;
  padding: 32px 20px 20px 20px;
  border-radius: 30px 0;
  box-shadow: 0px 5px 8px 3px rgba(51, 51, 51, 0.25);
}
@media screen and (max-width: 1024px) {
  .case__item {
    width: 311px;
    height: 471px;
    padding: 31px 10px 20px 10px;
  }
}

.case__title {
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .case__title {
    font-size: 18px;
  }
}
.case__title span {
  color: rgb(0, 127, 198);
}

.case__text {
  font-size: 14px;
  margin-top: 24px;
}
@media screen and (max-width: 1024px) {
  .case__text {
    font-size: 12px;
  }
}

.case__img-box {
  height: 64px;
  margin-top: 37px;
}
@media screen and (max-width: 1024px) {
  .case__img-box {
    margin-top: 48px;
  }
}
.case__img-box img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.case__swiper {
  margin-top: 53px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 405px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0;
}

.swiper-button-prev:after {
  content: "";
  background: url(../img/arrow-01.jpg);
  background-size: contain;
  width: 34px;
  height: 34px;
}

.swiper-button-next:after {
  content: "";
  background: url(../img/arrow-02.jpg);
  background-size: contain;
  width: 34px;
  height: 34px;
}

.case__slide-box {
  padding: 20px;
}

.fee {
  background: rgb(249, 249, 249);
}
.fee .inner {
  padding: 96px 56px 57px 56px;
}
@media screen and (max-width: 820px) {
  .fee .inner {
    padding: 72px 32px 39px 32px;
  }
}

.fee__list {
  margin-top: 69px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}
@media screen and (max-width: 820px) {
  .fee__list {
    margin-top: 31px;
  }
}

.fee__item {
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.25);
  border-radius: 5px;
  width: 296px;
  height: 277px;
  position: relative;
  padding: 44px 0 90px 0;
  opacity: 0;
}
@media screen and (max-width: 820px) {
  .fee__item {
    width: 96px;
    height: 91px;
    padding: 14px 18px 17px 18px;
  }
}
.fee__item::before {
  content: "";
  background: rgb(0, 127, 198);
  width: 100%;
  height: 12px;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 820px) {
  .fee__item::before {
    height: 6px;
  }
}

.fee__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 820px) {
  .fee__title {
    font-size: 12px;
  }
}

.fee__text {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin-top: 23px;
}
@media screen and (max-width: 820px) {
  .fee__text {
    font-size: 12px;
    margin-top: 12px;
  }
}
.fee__text span {
  color: rgb(0, 127, 198);
  font-size: 96px;
}
@media screen and (max-width: 820px) {
  .fee__text span {
    font-size: 36px;
  }
}

.fee__text-list {
  margin-top: 48px;
}

.fee__text-item {
  font-size: 14px;
  list-style: disc inside;
}
@media screen and (max-width: 820px) {
  .fee__text-item {
    font-size: 12px;
  }
}

.faq {
  background: rgb(249, 249, 249);
  padding: 96px 0 72px 0;
}
@media screen and (max-width: 1024px) {
  .faq {
    padding: 50px 16px 83px 16px;
  }
}

/*アコーディオン全体*/
.accordion-area {
  width: 100%;
  max-width: 1024px;
  margin-top: 70px;
  margin-inline: auto;
  padding-inline: 16px;
}
@media screen and (max-width: 820px) {
  .accordion-area {
    margin-top: 48px;
  }
}

.faq__item {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.faq__item + .faq__item {
  margin-top: 24px;
}
@media screen and (max-width: 820px) {
  .faq__item + .faq__item {
    margin-top: 16px;
  }
}

/*アコーディオンタイトル*/
.title {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  padding-left: 36px;
  position: relative;
  transition: all 0.5s ease;
}
@media screen and (max-width: 820px) {
  .title {
    height: 64px;
    font-size: 14px;
    padding: 0 34px 0 10px;
    line-height: 1.5;
  }
}
.title span {
  display: grid;
  place-content: center;
  width: 44px;
  height: 44px;
  background: rgb(0, 127, 198);
  border-radius: 50%;
  margin-right: 24px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-family: "Goldman", sans-serif;
  font-weight: normal;
  flex-shrink: 0;
}
@media screen and (max-width: 820px) {
  .title span {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    font-size: 16px;
  }
}

/*アイコンの＋と×*/
.title::before,
.title::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 2px;
  background-color: rgb(51, 51, 51);
}
@media screen and (max-width: 820px) {
  .title::before,
  .title::after {
    width: 16px;
  }
}

.title::before {
  top: 40px;
  right: 24px;
  transform: rotate(0deg);
}
@media screen and (max-width: 820px) {
  .title::before {
    top: 33px;
    right: 10px;
  }
}

.title::after {
  top: 40px;
  right: 24px;
  transform: rotate(90deg);
}
@media screen and (max-width: 820px) {
  .title::after {
    top: 33px;
    right: 10px;
  }
}

/*　closeというクラスがついたら形状変化　*/
.title.close {
  background: rgb(0, 127, 198);
  border-radius: 10px 10px 0 0;
  color: rgb(255, 255, 255);
}
.title.close span {
  background: rgb(255, 255, 255);
  color: rgb(0, 127, 198);
}

.title.close::before {
  background: rgb(255, 255, 255);
}

.title.close::after {
  display: none;
}

/*アコーディオンで現れるエリア*/
.box {
  display: none; /*はじめは非表示*/
  padding: 24px 36px;
}
@media screen and (max-width: 820px) {
  .box {
    padding: 10px;
    font-size: 14px;
  }
}

.faq__answer-list {
  margin: 1.8rem 0;
}

.faq__answer-item {
  list-style: decimal inside;
}

.download {
  background: linear-gradient(to bottom right, rgb(0, 127, 198), rgb(2, 209, 255));
}
.download .inner {
  padding: 96px 16px 57px 16px;
}
@media screen and (max-width: 1024px) {
  .download .inner {
    padding: 72px 16px 46px 16px;
  }
}
.download .section-title {
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 820px) {
  .download .section-title {
    line-height: 1.5;
  }
}

.download__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  margin-top: 79px;
}
@media screen and (max-width: 1024px) {
  .download__wrap {
    flex-direction: column;
    gap: 40px;
    margin-top: 0;
  }
}
.download__wrap .form-box {
  margin-inline: auto;
}

.download__text-box {
  padding-top: 32px;
}
@media screen and (max-width: 1024px) {
  .download__text-box {
    padding-top: 26px;
  }
}

.download__text {
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 1024px) {
  .download__text {
    text-align: center;
  }
}
@media screen and (max-width: 820px) {
  .download__text {
    font-size: 12px;
  }
}

.download__img-box {
  margin-top: 48px;
  width: 413px;
  height: 253px;
}
@media screen and (max-width: 1024px) {
  .download__img-box {
    margin-inline: auto;
  }
}
@media screen and (max-width: 820px) {
  .download__img-box {
    margin-top: 16px;
    width: 240px;
    height: 149px;
  }
}
.download__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.inner {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  padding-inline: 60px;
  margin-inline: auto;
}
@media screen and (max-width: 820px) {
  .inner {
    padding-inline: 16px;
  }
}

.sp-br {
  display: none;
}
@media screen and (max-width: 820px) {
  .sp-br {
    display: block;
  }
}

.section-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 1;
  text-align: center;
}
@media screen and (max-width: 820px) {
  .section-title {
    font-size: 24px;
  }
}

.doc-request-btn {
  width: 320px;
  height: 52px;
  cursor: pointer;
  background: rgb(0, 127, 198);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}
@media screen and (max-width: 820px) {
  .doc-request-btn {
    font-size: 16px;
    width: 100%;
    max-width: 320px;
  }
}
.doc-request-btn:hover {
  opacity: 0.7;
}

.form-box {
  background: rgb(255, 255, 255);
  width: 400px;
  height: 586px;
  padding: 8px 0 28px 0;
  line-height: 1;
}
@media screen and (max-width: 820px) {
  .form-box {
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
    padding: 8px 8px 19px 8px;
  }
}
.form-box .doc-request-btn {
  opacity: 0.2;
  cursor: default;
}
.form-box .doc-request-btn:hover {
  opacity: 0.2;
}

.bubble-text {
  width: 384px;
  height: 52px;
  background: rgb(0, 127, 198);
  border-radius: 5px;
  margin-inline: auto;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  display: grid;
  place-content: center;
  position: relative;
}
@media screen and (max-width: 820px) {
  .bubble-text {
    font-size: 16px;
    width: 100%;
  }
}
.bubble-text::after {
  content: "";
  background: rgb(0, 127, 198);
  width: 16px;
  height: 16px;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
          clip-path: polygon(0 0, 50% 100%, 100% 0);
  position: absolute;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
}

.form {
  padding-inline: 16px;
}
@media screen and (max-width: 820px) {
  .form {
    padding: 0;
  }
}

.form-item {
  margin-top: 15px;
}
.form-item:nth-child(1) {
  margin-top: 24px;
  display: flex;
  gap: 18px;
}
@media screen and (max-width: 820px) {
  .form-item:nth-child(1) {
    margin-top: 25px;
    gap: 9px;
  }
}

.form-label {
  font-size: 14px;
  font-weight: bold;
}
.form-label sup {
  color: rgb(249, 0, 0);
}

.form-text {
  height: 48px;
  width: 100%;
  background: rgb(245, 248, 250);
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
  padding: 16px 8px;
  margin-top: 8px;
  font-size: 16px;
}

.form-notes {
  margin-top: 24px;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (max-width: 820px) {
  .form-notes {
    font-size: 12px;
  }
}

.btn-item {
  text-align: center;
  margin-top: 31px;
}
@media screen and (max-width: 820px) {
  .btn-item {
    margin-top: 40px;
  }
}

.end-message {
  display: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 127, 198);
  text-align: center;
}

.false-message {
  display: none;
}

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.delay-time02 {
  animation-delay: 0.2s;
}

.delay-time04 {
  animation-delay: 0.4s;
}

body {
  font-size: 16px;
  color: rgb(51, 51, 51);
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
}/*# sourceMappingURL=style.css.map */