@use "../global/forward" as*;


.achievements {
	padding: 80px 0 46px 0;

	@include mq(md) {
		padding: 40px 0 22px 0;
	}
}

.achievements__title {
	font-size: 32px;
	line-height: 1;
	font-weight: bold;
	text-align: center;

	@include mq(md) {
		font-size: 20px;
	}
}

.achievements__img-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 84px;
	margin-top: 40px;
	
	@include mq(lg) {
		margin-top: 30px;
		flex-direction: column;
		align-items: center;
		gap: 8px;
	}
}

.achievements__img-item {
	width: 428px;
	height: 146px;

	@include mq(md) {
		width: 280px;
		height: 96px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

/*==================================================
スライダーのためのcss
===================================*/

.slider {
	margin-top: 64px;

	@include mq(md) {
		margin-top: 39px;
	}
}

.slider img {
	width:248px;/*スライダー内の画像を横幅100%に*/
	height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
	margin:0 10px;/*スライド左右の余白調整*/
}