@use "../global/forward" as*;


.achievements {
	padding: 80px 0 46px 0;
}

.achievements__img-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 84px;
	margin-top: 40px;
}

.achievements__img-item {
	width: 428px;
	height: 146px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}


/*==================================================
スライダーのためのcss
===================================*/
// .achievements__slider-list {
// 	width:100%;/*スライダー内の画像を横幅100%に*/
// 	height:auto;
// }

// .achievements__slider-item {
// 	width: 248px;
// 	height: 99px;

// 	img {
// 		width: 100%;
// 		height: 100%;
// 		object-fit: contain;
// 	}
// }

// /*slickのJSで書かれるタグ内、スライド左右の余白調整*/

// .achievements__slider-list .slick-slide {
// 	margin:0 80px;/*スライド左右の余白調整*/
// }


/*==================================================
スライダーのためのcss
===================================*/

.slider {
	margin-top: 64px;
}

.slider img {
	width:248px;/*スライダー内の画像を横幅100%に*/
	height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
	margin:0 10px;/*スライド左右の余白調整*/
}