@use "../global/forward" as*;

.case {
	.inner {
		padding: 96px 0 35px 0;

		@include mq(md) {
			padding: 72px 0 45px 0;
		}
	}

	.section-title {
		line-height: 1.5;
		color: rgb(34,34, 34);
	}
}

.case__item {
	width: 405px;
	height: 488px;
	padding: 32px 20px 20px 20px;
	border-radius: 30px 0;
	box-shadow: 0px 5px 8px 3px rgba(51, 51, 51, 0.25);

	@include mq(lg) {
		width: 311px;
		height: 471px;
		padding: 31px 10px 20px 10px;
	}
}

.case__title {
	font-size: 24px;
	font-weight: bold;

	@include mq(lg) {
		font-size: 18px;
	}

	span {
		color: $accent-color;
	}
}

.case__text {
	font-size: 14px;
	margin-top: 24px;

	@include mq(lg) {
		font-size: 12px;
	}
}

.case__img-box {
	height: 64px;
	margin-top: 37px;

	@include mq(lg) {
		margin-top: 48px;
	}

	img {
		height: 100%;
		object-fit: contain;
	}
}

.case__swiper {
	margin-top: 53px;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	width: 405px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0;
}

.swiper-button-prev:after {
	content: "";
	background: url(../img/arrow-01.jpg);
	background-size: contain;
	width: 34px;
	height: 34px;
}

.swiper-button-next:after {
	content: "";
	background: url(../img/arrow-02.jpg);
	background-size: contain;
	width: 34px;
	height: 34px;
}

.case__slide-box {
	padding: 20px;
}