@use "../global/forward" as*;

.download {
	background: linear-gradient(to bottom right, rgba(0, 127, 198, 1), rgba(2, 209, 255, 1));

	.inner {
		padding: 96px 0 57px 0;
	}

	.section-title {
		color: $main-color;
	}
}

.download__wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 35px;
	margin-top: 79px;
}

.download__text-box {
	padding-top: 32px;
}

.download__text {
	color: $main-color;
}

.download__img-box {
	margin-top: 48px;
	width: 413px;
	height: 253px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}