@use "../global/forward" as*;

.faq {
	background: $bg-color;
	padding: 96px 0 72px 0;

	@include mq(lg) {
		padding: 50px 16px 83px 16px;
	}
}

/*アコーディオン全体*/
.accordion-area{
	width: 100%;
	max-width: 1024px;
	margin-top: 70px;
	margin-inline: auto;
	padding-inline: 16px;

	@include mq(md) {
		margin-top: 48px;
	}
}

.faq__item {
	background: $main-color;
	border-radius: 10px;
}

.faq__item + .faq__item {
	margin-top: 24px;

	@include mq(md) {
		margin-top: 16px;
	}
}

/*アコーディオンタイトル*/
.title {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	padding-left: 36px;
	position: relative;
	transition: all .5s ease;

	@include mq(md) {
		height: 64px;
		font-size: 14px;
		padding: 0 34px 0 10px;
	}

	span {
		display: grid;
		place-content: center;
		width: 44px;
		height: 44px;
		background: $accent-color;
		border-radius: 50%;
		margin-right: 24px;
		color: $main-color;
		font-size: 32px;
		font-family: "Goldman", sans-serif;
		font-weight: normal;
		flex-shrink: 0;

		@include mq(md) {
			width: 32px;
			height: 32px;
			margin-right: 10px;
			font-size: 16px;
		}
	}
}

/*アイコンの＋と×*/
.title::before,
.title::after{
	position: absolute;
	content:'';
	width: 32px;
	height: 2px;
	background-color: $text-color;

	@include mq(md) {
		width: 16px;
	}
	
}
.title::before{
	top: 40px;
	right: 24px;
	transform: rotate(0deg);

	@include mq(md) {
		top: 33px;
		right: 10px;
	}
	
}
.title::after{    
	top: 40px;
	right: 24px;
	transform: rotate(90deg);

	@include mq(md) {
		top: 33px;
		right: 10px;
	}

}

/*　closeというクラスがついたら形状変化　*/

.title.close {
	background: $accent-color;
	border-radius: 10px 10px 0 0;
	color: $main-color;

	span {
		background: $main-color;
		color: $accent-color;
	}
}

.title.close::before{
	background: $main-color;
}

.title.close::after{
	display: none;
}

/*アコーディオンで現れるエリア*/
.box {
	display: none;/*はじめは非表示*/
	padding: 24px 36px;

	@include mq(md) {
		padding: 10px;
		font-size: 14px;
	}
	
}

.faq__answer-list {
	margin: 1.8rem 0;
}

.faq__answer-item {
	list-style: decimal inside;
}