@use "../global/forward" as*;

.feature {
	.inner {
		padding: 48px 20px 31px 20px;

		@include mq(md) {
			padding: 36px 17px 31px 17px;
		}
	}

	.section-title {
		line-height: 1.5;
	}
}

.feature__list {
	margin-top: 51px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 24px;
	flex-wrap: wrap;

	@include mq(md) {
		flex-direction: column;
	}
}

.feature__item {
	width: 480px;
	height: 325px;
	padding: 14px 32px 23px 32px;
	border: 1px solid $accent-color;
	box-sizing: border-box;

	@include mq(md) {
		width: 100%;
		height: auto;
		padding: 14px 30px 22px 30px;
	}
}

.feature__img-box {
	width: 116px;
	height: 77px;
	margin-inline: auto;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.feature__title {
	margin-top: 19px;
	color: rgba(244, 117, 0, 1);
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
}

.feature__text {
	margin-top: 18px;

	@include mq(md) {
		margin-top: 19px;
	}
}

