@use "../global/forward" as*;

.fee {
	background: $bg-color;

	.inner {
		padding: 96px 56px 57px 56px;
	}
}

.fee__list {
	margin-top: 69px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fee__item {
	background: $main-color;
	box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.25);
	border-radius: 5px;
	width: 296px;
	height: 277px;
	position: relative;
	padding: 44px 0 90px 0;

	&::before {
		content: "";
		background: $accent-color;
		width: 100%;
		height: 12px;
		border-radius: 5px 5px 0 0;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.fee__title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
}

.fee__text {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	margin-top: 23px;

	span {
		color: $accent-color;
		font-size: 96px;
	}
}

.fee__text-list {
	margin-top: 48px;
}

.fee__text-item {
	font-size: 14px;
	list-style: disc inside;
}

