@use "../global/forward" as*;

.main-visual {
	width: 100%;
	height: calc(100vh - 96px);
	background: linear-gradient(to bottom right, rgba(0, 127, 198, 1), rgba(2, 209, 255, 1));
	position: relative;

	@include mq(lg) {
		height: auto;
	}

	&::after {
		content: "";
		background: url(../img/job-listing.png);
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: calc(360 / 1536 * 100%);
		height: calc(202 / 850 * 100%);

		@include mq(lg) {
			display: none;
		}
	}
}

.main-visual__wrap {
	max-width: 1176px;
	height: 100%;
	margin-inline: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	@include mq(lg) {
		padding: 40px 16px 26px 16px;
		flex-direction: column;
		gap: 0;
	}

	.form-box {
		@include mq(lg) {
			margin-top: 44px;
		}
	}
}

.main-visual__contents-box {
	line-height: 1.5;
	color: $main-color;
	margin-left: 24px;

	@include mq(lg) {
		padding-bottom: 189px;
		position: relative;
		text-align: center;

		&::after {
			content: "";
			background: url(../img/job-listing.png);
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% - 16px);
			max-width: 360px;
			height: 201px;
	}

	}
}

.main-visual__text {
	font-size: 20px;

	@include mq(md) {
		font-size: 14px;
	}

	&:nth-of-type(2) {
		margin-top: 15px;

		@include mq(md) {
			margin-top: 24px;
		}
	}
}

.main-visual__title {
	margin-top: 11px;
	font-size: 56px;
	font-weight: bold;

	@include mq(md) {
		font-size: 24px;
		margin-top: 18px;
	}
}

.main-visual__feature-list {
	display: flex;
	flex-direction: row;
	margin-top: 37px;

	@include mq(md) {
		gap: 4px;
		margin-top: 16px;
	}
}

.main-visual__feature-item {
	width: 164px;
	height: 164px;
	padding: 41px 0;
	background: $main-color;
	border-radius: 50%;
	border: 1px solid rgba(0, 127, 198, 1);
	margin-right: 22px;
	color: $accent-color;
	font-weight: bold;
	text-align: center;
	line-height: 1;

	@include mq(md) {
		margin-right: 0;
		width: 112px;
		height: 112px;
		padding: 29px 0 31px 0;
	}

	p:nth-child(1) {
		font-size: 24px;

		@include mq(md) {
			font-size: 16px;
		}
	} 

	p:nth-child(2) {
		font-size: 32px;
		margin-top: 26px;

		@include mq(md) {
			font-size: 18px;
			margin-top: 18px;
		}
	}

	sup {
		color: $text-color;
		font-size: 12px;
		vertical-align: top;
	}
}

.main-visual__notes {
	display: block;
	font-size: 12px;
	line-height: 1;

	@include mq(md) {
		text-align: left;
	}

	&:nth-of-type(1) {
		margin-top: 27px;

		@include mq(md) {
			margin-top: 24px;
		}
	}

	&:nth-of-type(2) {
		margin-top: 7px;

		@include mq(md) {
			margin-top: 6px;
		}
	}
}
