@use "../global/forward" as*;


.doc-request-btn {
	width: 320px;
	height: 52px;
	cursor: pointer;
	background: $accent-color;
	border-radius: 25px;
	color: $main-color;
	font-size: 20px;
	font-weight: bold;
	transition: .3s;

	@include mq(md) {
		width: 246px;
		height: 42px;
		font-size: 16px;
	}

	&:hover {
		opacity: 0.7;
	}
}